<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/fonts/typicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
</head>

<body style="padding: 0px;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">Nick Bernard's Page</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="login">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="register">Register Account</a></li>
                    <li class="nav-item"><a class="nav-link active" href="artworks">Artworks</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Some of My Drawings!</h2>
                    <p>Here are some of the things I've created over the years:</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/Scan6.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Rocks</h4>
                                <p class="card-text">The details and patterns on the individual rocks took a long time to get right</p>
                                <div class="icons"><a href="#"></a><a href="#"><i class="icon-pencil"></i></a><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/2011-10-25%20Digital%20Imagery.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Kremlin</h4>
                                <p class="card-text">A sketch of the famous Russian landmark I made in my high school design class</p>
                                <div class="icons"><a href="#"></a><a href="#"><i class="icon-pencil"></i></a><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/Scan7.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Desert</h4>
                                <p class="card-text">Pencil drawing of a desert scene in southern Algeria</p>
                                <div class="icons"><a href="#"></a><a href="#"><i class="icon-pencil"></i></a><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="padding: 0px;margin-bottom: 20px;margin-top: 20px;">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/Project%20-%20Arcryllics%20-%20Watermelons.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Watermelons</h4>
                                <p class="card-text">I don't usually do paintings, so I struggled with this one</p>
                                <div class="icons"><a href="#"><i class="icon ion-paintbrush"></i></a><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/DSCN0327.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Pen &amp; Ink</h4>
                                <p class="card-text">A series of Tim Burton-inspired serial pictures done in black ink</p>
                                <div class="icons"><a href="#"></a><a href="#"><i class="icon ion-paintbucket"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/1%20-%20DSCN0065%20(3).jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Bedroom POV</h4>
                                <p class="card-text">Quick pencil sketch of what it looked like to sit on my bed in my bedroom circa 2011</p>
                                <div class="icons"><a href="#"></a><a href="#"><i class="icon-pencil"></i></a><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/Project%20-%20Realism.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Realism</h4>
                                <p class="card-text">This was done with colored pencils, and the assignment was to make the drawing look as close to the photograph as possible</p>
                                <div class="icons"><a href="#"></a><a href="#"><i class="typcn typcn-pencil"></i></a><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/Scan10.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Coffee Maker</h4>
                                <p class="card-text">Pencil drawing of a coffee maker sitting on the kitchen counter</p>
                                <div class="icons"><a href="#"></a><a href="#"><i class="icon-pencil"></i></a><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/1%20-%20Dr.%20Suess.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Dr. Suess</h4>
                                <p class="card-text">Made with markers and colored ink, a Dr. Suess inspired drawing of a nonexistent book scene</p>
                                <div class="icons"><a href="#"></a><a href="#"><i class="icon ion-paintbucket"></i></a><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>Nick Bernard's ICSI518 Assignment 3</p>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/js/smoothproducts.min.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>
